/*** common ***/
.key-visual {
    background-image: url("../images/night_forest.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    /*
    vh - view port height
    background-size: auto/contain/cover
    auto - default
    contain - fit as maximum size
    cover - fit as minimum size
    */
}

/* Font */
@font-face {
    font-family: "rondo-square";
    src: url("../fonts/Ronde-B_square.otf");
}
@font-face {
    font-family: "kaido-next";
    src: url("../fonts/Kaiso-Next-B.otf");
}
@font-face {
    font-family: "makinas-4";
    src: url("../fonts/Makinas-4-Flat.otf"),
    url("../fonts/Makinas-4-Square.otf");
}

body {
    /*
    font-family: "kaiso-next";
    font-family: "rondo-square";
    */
    font-family: "makinas-4";
    color: white;
}

/* text color */
.input-field [type=text],[type=email],[type=password] {
    color: white;
}
/* label color */
.input-field label {
    color: white;
}
/*Icon color*/
i.icon-white {
    color: white;
}

/*** user page ***/
#history {
    height: 50vh;
    overflow: visible scroll;
}
#message-sender {
    height: 15vh;
}
#message {
    font-size: 18px;
    border: none;
    border-bottom: 1px solid;
    border-color: white;
    height: 7rem;
}
#message:focus {
    border-bottom: 2px solid;
    border-color: #26a69a;
}
.conversation {
    font-size: 20px;
}
