  <!DOCTYPE html>
  <html>
    <head>
      {% load static %}
      <!--css-->
      <link type="text/css" rel="stylesheet" href="{% static 'communicate/css/materialize.min.css' %}" media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="{% static 'communicate/css/yonayona.css' %}"/>
      <!--js-->
      <!--images-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="apple-touch-icon" sizes="180x180" href="{% static 'communicate/images/favicon/apple-touch-icon.png' %}">
      <link rel="icon" type="image/png" sizes="32x32" href="{% static 'communicate/images/favicon/favicon-32x32.png' %}">
      <link rel="icon" type="image/png" sizes="16x16" href="{% static 'communicate/images/favicon/favicon-16x16.png' %}">
      <link rel="manifest" href="{% static 'communicate/images/favicon/site.webmanifest' %}">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
      <!--キービジュアル-->
      <div class="key-visual">
        <!--ナビゲーションヘッダ-->
        <div class="navbar-fixed">
          <nav class="transparent z-depth-0">
            <div class="nav-wrapper">
              <a href="{% url 'communicate:index' %}" class="brand-logo">yonayona</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{% url 'communicate:signup' %}">Signup</a></li>
                <li><a href="{% url 'communicate:about' %}">About</a></li>
              </ul>
            </div>
          </nav>
        </div>
        <!--ナビゲーションヘッダ-->
        <!--エラーメッセージ-->
        {% if error_message %}<h3 class="red-text center-align"><strong>{{ error_message }}</strong></h3>{% endif %}
        <!--エラーメッセージ-->
        <!--ボディ-->
        <div class="container">
          <div class="section">
            <h5>何をする場所？</h5>
            <p>ヨナヨナの森は、深夜0時を過ぎると、誰かと交信ができる不思議な森です。<br>
            その夜だけのめぐり逢わせを楽しんでください。
            </p>
          </div>
          <div class="section">
            <h5>匿名</h5>
            <p>名前やプロフォールさえない、完全匿名で交信をします。</p>
          </div>
          <div class="section">
            <h5>時間</h5>
            <p>深夜0時から夜明け4時まで。<br>
            4時を過ぎると、交信ができなくなります。
            </p>
          </div>
          <div class="section">
            <h5>再会</h5>
            <p>ヨナヨナの森で会った人とは、再会できません。
            </p>
          </div>
        </div>
        <!--ボディ-->
        <footer class="page-footer transparent z-depth-0">
          <div class="footer-copyright">
            © 2021 Banatie All Rights Reserved.
          </div>
        </footer>
      </div>
      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="{% static 'communicate/js/materialize.min.js' %}"></script>
    </body>
  </html>