  <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <!--Import css-->
      <link type="text/css" rel="stylesheet" href="css/yonayona.css"/>
      <!--Icon and Favicon-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link rel="apple-touch-icon" sizes="180x180" href="./images/favicon/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon/favicon-16x16.png">
      <link rel="manifest" href="./images/favicon/site.webmanifest">
    </head>

    <body>
      <!--キービジュアル-->
      <div class="key-visual">
        <!--ナビゲーションヘッダ-->
        <div class="navbar-fixed">
          <nav class="transparent z-depth-0">
            <div class="nav-wrapper">
              <a href="index.html" class="brand-logo">yonayona</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="signup.html">Signup</a></li>
                <li><a href="about.html">About</a></li>
              </ul>
            </div>
          </nav>
        </div>
        <!--ナビゲーションヘッダ-->
        <!--ボディ-->
        <div class="container">
          <h1>ようこそ〇〇の森へ</h1>
          <h2>何をする場所？</h2>
          <p>ここは、夜中の12時をすぎると、1人とだけ一晩話すことができる不思議な森です。</p>
          <p>その日どんなひとと話すのか、その出会いをお楽しみください。</p>
        </div>
        <!--ボディ-->
      </div>
      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="js/materialize.min.js"></script>
    </body>
  </html>