  <!DOCTYPE html>
  <html>
    <head>
      {% load static %}
      <!--css-->
      <link type="text/css" rel="stylesheet" href="{% static 'communicate/css/materialize.min.css' %}" media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="{% static 'communicate/css/yonayona.css' %}"/>
      <!--js-->
      <!--images-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="apple-touch-icon" sizes="180x180" href="{% static 'communicate/images/favicon/apple-touch-icon.png' %}">
      <link rel="icon" type="image/png" sizes="32x32" href="{% static 'communicate/images/favicon/favicon-32x32.png' %}">
      <link rel="icon" type="image/png" sizes="16x16" href="{% static 'communicate/images/favicon/favicon-16x16.png' %}">
      <link rel="manifest" href="{% static 'communicate/images/favicon/site.webmanifest' %}">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
     <title>yonayona</title>
      <!--キービジュアル-->
      <div class="key-visual">
        <!--デスクトップ用　ナビゲーションヘッダ-->
        <div class="hide-on-small-only">
          <div class="navbar-fixed">
            <nav class="transparent z-depth-0">
              <div class="nav-wrapper">
                <a href="{% url 'communicate:index' %}" class="brand-logo">yonayona</a>
                <ul id="nav-mobile" class="right">
                  <li><a href="{% url 'communicate:signup' %}">Signup</a></li>
                  <li><a href="{% url 'communicate:about' %}">About</a></li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
        <!--スマホ用　ナビゲーションヘッダ-->
        <div class="hide-on-med-and-up">
          <div class="row">
            <nav class="transparent z-depth-0">
              <div class="nav-wrapper">
                <a href="{% url 'communicate:index' %}" class="brand-logo">yonayona</a>
              </div>
            </nav>
          </div>
          <div class="row">
            <nav class="transparent z-depth-0">
              <div class="nav-wrapper">
                <ul id="nav-mobile" class="center">
                  <li><a href="{% url 'communicate:signup' %}">Signup</a></li>
                  <li><a href="{% url 'communicate:about' %}">About</a></li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
        <!--ナビゲーションヘッダ-->
        <!--ボディ-->
        <div class="container">
          <div class="section">
            <h5>何をする場所？</h5>
            <div class="divider"></div>
            <p>
              夜な夜な、誰かと話せる場所です<br>
              どこの、誰と話せるかは、選べません<br>
              是非、その日の出会いを楽しんでください<br>
            </p>
          </div>
          <div class="section">
            <h5>匿名</h5>
            <div class="divider"></div>
            <p>
              名前も、年齢も、顔も、仕事も、何も公開する必要はありません
            </p>
          </div>
          <div class="section">
            <h5>時間</h5>
            <div class="divider"></div>
            <p>
              毎日、深夜0時 - 夜明け4時
            </p>
          </div>
        </div>
        <!--ボディ-->
        <footer class="page-footer transparent z-depth-0">
          <div class="footer-copyright">
            © 2021 Banatie All Rights Reserved.
          </div>
        </footer>
      </div>
      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="{% static 'communicate/js/materialize.min.js' %}"></script>
    </body>
  </html>